node_modules/
*.log
.DS_Store
dist/
.vscode/
.lighthouseci/
.idea/
.env
.env.local
.coverage/
.nyc_output/
coverage/
*.tgz
*.tar.gz
Thumbs.db
ehthumbs.db
Desktop.ini
public/uploads/
public/temp/
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/test-results.xml
.cache/
.parcel-cache
.pnpm-debug.log*
.vercel
.netlify
terraform.tfstate
terraform.tfstate.backup
*.tfvars
.idea/
/Projects/Properties4Creations-Official/.clinerules/
